<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1>You Can Edit Your Details...</h1>
      <img src="<%=listing.image%>" alt="" />
      <form method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text "
            name="listing[title]"
            class="form-control"
            value="<%=listing.title%>"
            required
          />
        </div>

        
        <div class="mb-3">
        Listing Image Preview<br>
          <img src="<%=originalImageUrl%>" alt="">
        </div>



        <div class="mb-3">
          <label for="Image" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
           
          
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            name="listing[description]"
            class="form-control"
            value="<%=listing.description%>"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              value="<%=listing.price%>"
              required
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="Country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              value="<%=listing.country%>"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            value="<%=listing.location%>"
            required
          />
        </div>

        <br /><br /><br />
        <button class="btn btn-outline-danger">Confirm Changes</button>
      </form>
    </div>
  </div>
</body>

