<% layout("/layouts/boilerplate") %>


<div id="fandt">
   <div id="filter">
  <div class="filters">
    <i class="fa-solid fa-fire fa-lg"></i>
    <p>    Trending
    </p> 
  </div>
  <div class="filters">
    <i class="fa-solid fa-mountain fa-lg"></i> <p>Mountains</p>    
  </div>
  <div class="filters">
    <i class="fa-solid fa-sailboat fa-lg"></i>  <p>Boat</p>  
  </div>
  <div class="filters">
    <i class="fa-solid fa-snowflake fa-lg"></i>  <p>Arctic</p>   
  </div>
  <div class="filters">
    <i class="fa-solid fa-hotel fa-lg"></i>  <p>Resort</p>   
  </div>
  <div class="filters">
    <i class="fa-solid fa-igloo fa-lg"></i>  <p>Cave</p>   
  </div>
  <div class="filters">
    <i class="fa-solid fa-tree fa-lg"></i>   <p>Tree House</p>  
  </div>
  <div class="filters">
    <i class="fa-solid fa-city fa-lg"></i>  <p>Iconic Cities</p>   
  </div>
</div>
<div class="toogle-switch">
  <div class="form-check-reverse form-switch ">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Price After Taxes</label>
  </div>
</div>

</div>
    


    
    
      <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 " >
    <%for(let listing of listings){%>
     
    <a class="listing-links" href="/listings/<%=listing._id%>">
       
        
        
            <div class="card  listing-card col" >
              <img src="<%=listing.image.url%>" class="card-img-top"style="height: 20rem;" alt="..." />
              <div class="card-body">
                <h6 class="card-title"><%=listing.title%></h5>
                <p class="card-title"><%=listing.location%></p>
                <h5 class="card-title">&#8377;<%=listing.price%> / night
                  </h5>
                  <i class="taxinfo">&nbsp; +18 % G.S.T</i>
                
              </div>
            </div>
           
          
            
        
      </a>
   
    <%}%>
  </div>
  
   
 


<script>
  let taxSwitch =document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo =document.getElementsByClassName("taxinfo");
    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
        
      }else{
        info.style.display="none";
      }
     
    }

  })
</script>